body {
    display: flex;
}

main {
    flex: 1;
    display: flex;
    background-color: #1a1a1c;
}

main .chat-container {
    flex: 1;
    padding: 1em;
    border: thin solid #65fdee;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.chat-name {
    display: flex;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 1em;
    outline: none;
    background: white;
    border: thin solid #65fdee;
    border-radius: 5px;
    margin: 0 0.5em;
    font-size: 1em;
    color: #1a1a1c;
}

button {
    padding: 0.5em 1em;
    background: #65fdee;
    color: black;
    border: thin solid #65fdee;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.chat-container header {
    border-bottom: thin solid #65fdee;
}

.message {
    padding: 0.5em;
    font-size: 1.5em;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}