<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Chat Simulator</title>
</head>

<body ng-app="chatApp">
    <main ng-controller="chatController">
        <div class="chat-container">
            <header class="chat-name">
                <h1>You</h1>
            </header>
            <section class="chat-messages">
                <div 
                    ng-repeat="message in messages" 
                    class="message" 
                    ng-class="{ right: message.from === 1, left: message.from === 0 }">
                    {{ message.text }}
                </div>
            </section>
            <footer class="chat-input">
                <input type="text" ng-model="message.you" placeholder="Your message here..." />
                <button ng-click="sendMessage(0)">Send</button>
            </footer>
        </div>
        <div class="chat-container">
            <header class="chat-name">
                <h1>User</h1>
            </header>
            <section class="chat-messages">
                <span 
                    ng-repeat="message in messages" 
                    class="message" 
                    ng-class="{ right: message.from === 0, left: message.from === 1 }">
                    {{ message.text }}
                </span>
            </section>
            <footer class="chat-input">
                <input type="text" ng-model="message.them" placeholder="Your message here..." />
                <button ng-click="sendMessage(1)">Send</button>
            </footer>
        </div>
    </main>
    <script src="./chat.js"></script>
    <script src="./controllers/chat-controller.js"></script>
</body>

</html>